/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Apr-2019, 11:53:27
    Author     : Alan
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
    background-color: #9593D9;
}

h1 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin:auto;
    background-color: white;
    border-radius: 4px;
    padding: 60px 110px 80px 110px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border-bottom: none;
}

table > tbody > tr:nth-child(odd) {
    background-color: rgba(211, 211, 211, 0.5);
}

table > tbody > tr > td {
    border-radius: 0;
}

td, th {
    padding: 20px 45px 20px 45px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.inputs{
    float: left;
    padding-right: 20px
}

input[type=text],
input[type=password]{
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
}

.errorMsg{
    color: red;
    padding-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

